@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    'Malgun Gothic',
    '맑은 고딕',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    sans-serif;
  font-size: 12px;
  color: #333;
  background: #fff;
}
